:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.2rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  text-decoration: none;
  transition: .5s ease;
}

.btn:hover {
  box-shadow: none;
}