.cabecalho {
  /* Usando as variáveis para o fundo */
  background-color: var(--cor-fundo-secundario);
  padding: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 224, 255, 0.1); /* Sombra com a cor primária */

  /* Adicionando uma borda inferior subtil */
  border-bottom: 1px solid var(--cor-borda-card);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 1.8rem;
  color: var(--cor-texto-principal); /* Usando a variável */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  color: var(--cor-texto-secundario); /* Usando a variável */
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
  font-weight: 500;
}

/* Efeito de hover com a cor primária */
nav a:hover {
  color: var(--cor-primaria);
}